.App {
  display: flex;
  text-align: center;
  background-color: #1D2329;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



button {
  font-size: calc(10px + 2vmin);
}
